* {
  margin: 0;
  font-family: 'Segoe UI';
}

.container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  justify-content: space-between;
  align-items: center;
}

.field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: #add;
  border-radius: 0.25rem;
  margin: 0.5rem auto;
}

.field .buttons {
  display: flex;
}

.field .buttons button {
  background: rgb(0 0 0 / 33%);
  border: none;
  margin: 0.25rem 0.25rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field .buttons button:active {
  background: rgb(0 0 0 / 50%);
}

.field .buttons button img {
  height: 1rem;
}

.display {
  margin-top: 1rem;
  background: #ace;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  white-space: nowrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
